
* {
    margin: 0;
    padding: 0;
}
body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header {
    height: 82px;

}
.header {
    position: fixed;
    color: white;
    width: 100%;
    padding: 20px;
    background-color: black
}
header > * {
    display: inline-block;
}
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
}
header img {
    float: left;
    border-radius: 50%;
}
ul {
    position: fixed;
    display: inline-block;
    right: 40px;
    top:40px;
    vertical-align: middle;
}
ul > li {
    display: inline-block;
}
a {
    color: white;
    font-size: 20px;
    font-weight: 300;
}
main {
    clear: both;
    width: 80%;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
    display: inline-block;

}
main > section {
    padding: 30 100;
}
main section:first-child {
    background-color: #f2f2f2;
    padding-top: 40px;
}
main section:nth-child(2) {
    padding-top: 20px;
    background-color: white;
    padding-bottom: 30px;
    padding-top: 25px;
}

.description-p2 {
    width: 80%;
    clear: both;
}
.description img {
    width: 500px;
    height: 500px;
    float: left;
    margin-right: 20px;
}
.description h2 , .relationship h2{
    margin-bottom: 20px;
}
.relationship img {
    width: 500px;
    height: 500px;
    float: right;
    margin-left: 20px;
}
footer {
    width: 100%;
    height: 60px;
    background-color: gray;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding-top: 15px;
}
